/* ----- Contact ----- */
.contact{
 margin-top: 14rem;
}
.contact-container {
    background: var(--bg-color-1);
    padding: 4rem;
    display: grid;
    grid-template-columns: 40% 60%;
    gap: 4rem;
    height: 30rem;
    margin: 7rem auto;
    border-radius: 1rem;
}


/* ----- Aside ----- */

.contact-aside {
    background: var(--primary-color);
    padding: 3rem;
    width: 90%;
    border-radius: 1rem;
    position: relative;
    bottom: 10rem;
}

.aside-image {
    width: 12rem;
    margin: auto;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}

.contact-aside h2 {
    text-align: left;
    margin: 1rem 0;
}

.contact-aside p {
    font-size: 0.9rem;
    margin-bottom: 2rem;
}

.contact-details li {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 1rem;
}

.contact-social {
    display: flex;
    gap: 1rem;
    margin-top: 3rem;
    list-style-type: none;
}

.contact-social a {
    background: var(--bg-color-2);
    padding: 0.6rem;
    border-radius: 50%;
    font-size: 0.9rem;
    transition: var(--transition);
    color: #fff;

}

.contact-social a:hover {
    background: transparent;
}


/* ----- Form ----- */

form {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    margin-right: 4rem;
    line-height: 1.3;
}

.form-name {
    display: flex;
    gap: 1.2rem;
}

form input[type="text"] {
    width: 50%;
    padding: 0.9rem;
}

input,
textarea {
    width: 100%;
    padding: 0.8rem;
    background: var(--bg-color);
    color: var(--color-white);
    resize: none;
    border: 0;
}

form .btn {
    width: max-content;
    cursor: pointer;
    margin-top: 1rem;
    align-self: center;
    background-color: var(--danger-color);
    outline: none;
    border-color: var(--danger-color);
}


/* ==========> (Tablet) Media Queries <========== */

 @media (max-width: 1024px) {
    .contact {
        padding-bottom: 0;
    }
    .contact-container {
        gap: 1rem;
        margin-top: 3rem;
        height: auto;
        padding: 1.5rem;
    }
    .contact-aside {
        width: auto;
        padding: 1.5rem;
        bottom: 0;
    }
    form {
        align-self: center;
        margin-right: 1.5rem;
    }
}


/* ==========> (Mobile) Media Queries <========== */

 @media(max-width: 768px) {
    .contact-container {
        grid-template-columns: 1fr;
        gap: 3rem;
        margin-top: 0;
        padding: 0;
    }
    form {
        margin: 0 1.5rem 3rem;
    }
    .form-name {
        flex-direction: column;
    }
    .form-name input[type="text"] {
        width: 100%;
    }
} 